form{
  display: grid;
  justify-items: center;
  align-items: center;
  border: 20px;
  border-color: black;

}
input{
  display: block;
  width: 100%;
  height: 20px;
}

button{
  border-radius: 30px;
  padding: 10px;
  display: block;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  
}
button:hover{
  background-color: brown;
}

.nav{
  background-color: brown;
  width: 100%;
  height: 50px;
  padding: 10px;
  color: white;
  display: flex;
  justify-items: center;
}
select{
  display: block;
  border-radius: 30px;
  margin: 20%;
  width: 100px;
  padding: 10px;
}
  


  
